/* сайт */
html {
    background-color: grey;
}

body {
    margin: 0px;
    padding: 0px;
    width: 1366px; 
    height: 1667px;
    background-size: 1366px 1667px;
    background-repeat: no-repeat;
    background-image: url("C:/Users/Asus/Desktop/проект/img/1612889826_175-p-krasnii-fon-komiks-249.jpg");
}

.sait {
    width: 1366px; 
    height: 1667px; 
    max-width: 1450px;
    margin: auto;
}

/* header */

header {
    width: 1366px;
    height: 240.88px;
    border-bottom: 1px solid black;
}


header img {
    width: 394px;
    height: 155px;
    position: absolute;
    left: 50px;
    top: 43px;
    border-radius: 4px;
}

header span {
    position: absolute;
    width: 796px;
    height: 41px;
    left: 550px;
    top: 100px;
    font-size: 36px;
}

/* левое меню */
/* меню*/
ul {
    padding:0;
    margin:0;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none; 
    font-size: 30px;
    color: white;
}

.menu-top-1 {
    position: absolute;
    top: 287px;
    left: 87px;
}

.menu-top-2 {
    position: absolute;
    top: 369px;
    left: 87px;
}

.menu-top-3 {
    position: absolute;
    top: 457px;
    left: 87px;
}

.menu-top-4 {
    position: absolute;
    top: 545px;
    left: 77px;
}

nav {
    height: 380.12px;
    width: 303.04px;
}

div.left {
    height: 1330 px;
    width: 303.04px;
    border-right: 1px solid black;
}

.submenu {
    visibility: hidden;
    opacity: 0;
    padding: 3px;
}

.menu-top-4:hover>.submenu {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transition: 1s;
}

.submenu li {
    display: inline-block ;
}

.submenu-top-1{
    padding-right: 15px;
}

.submenu-top-2{
    padding-left: 15px;
}


.submenu-top a {
    cursor: pointer;
}

/*реклама*/
.advert {
    height: 949.07px;
    width: 303.04px;
}

.advert-1 {
    height: 426px;
    width: 303.04px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.advert-2 {
    height: 523.07px;
    width: 303.04px;
}


.advert-1 img {
    position: absolute;
    left: 5px;
    top: 624px;
    width:293px;
    height:412px;
}

.advert-2 img {
    position: absolute;
    left: 5px;
    top: 1063px;
    width:293px;
    height:490px;
}

/* main */

p {
    font-size: 20px;
}

.moon-knight {
    position: absolute;
    width: 291px;
    height: 404px;
    left: 392px;
    top: 277px;
    border-radius: 5px;
}

.first-film {
    position: absolute;
    width: 308px;
    height: 26px;
    left: 425px;
    top: 680px;
}

.ha-eye {
    position: absolute;
    width: 530px;
    height: 302px;
    left: 776px;
    top: 306px;
    border-radius: 5px;
}

.second-film {
    position: absolute;
    width: 275px;
    height: 25px;
    left: 920px;
    top: 610px;
}

.loki {
    position: absolute;
    width: 323px;
    height: 405px;
    left: 376px;
    top: 783px;
    border-radius: 5px;
}

.third-film {
    position: absolute;
    width: 161px;
    height: 26px;
    left: 460px;
    top: 1185px;
}

.winter {
    position: absolute;
    width: 441px;
    height: 547px;
    left: 850px;
    top: 671px;    
    border-radius: 5px;
}

.fourth-film {
    position: absolute;
    width: 357px;
    height: 31px;
    left: 940px;
    top: 1228px;
}

.vanda {
    position: absolute;
    width: 530px;
    height: 294px;
    left: 376px;
    top: 1260px;
    border-radius: 5px;
}

.fifth-film {
    position: absolute;
    width: 234px;
    height: 22px;
    left: 1008px;
    top: 1385px;
}

footer {
    text-align: center;
    border-top: 1px solid black;
    font-size: 36px;
}

footer span {
    position: absolute;
    width: 332px;
    height: 52px;
    left: 544px;
    top: 1595px;    
}


/* анимация */ 

header img {
  animation-name: firstAnimation;
  animation-duration: 6s;
}

@keyframes firstAnimation {
    0% {
        left: 50px;
        top: 43px;
    }

    50% {
        left: 900px;
        top: 100px;
    }

    100% {
        left: 50px;
        top: 43px; 
    }
}

.winter {
    animation-name: secondAnimation;
    animation-duration: 5s;
}

@keyframes secondAnimation {
    0% {
        left: 850px;
        top: 671px; 
    }

    50% {
        left: 900px;
        top: 500px; 
    }

   100% {
        left: 850px;
        top: 671px; 
    }
}

header span:hover {
    animation-name: thirdAnimation;
    animation-duration: 1s;
}

@keyframes  thirdAnimation {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

p:hover {
    animation-name: fifthAnimation;
    animation-duration: 1s;
}

@keyframes  fifthAnimation {
    0% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 1;
    }
    99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media (max-width: 990px) { 

    * {
        margin: 0;
        padding: 0;
    }

    html {
        width: 990px;
        height: 1361px;
        background-color: #efe3af;
    }

    body {
        margin: 0px;
        padding: 0px;
        width: 990px;
        height: 1361px;
        background-size: 990px 1250px;
        background-repeat: no-repeat;
        background-image: url("C:/Users/Asus/Desktop/проект/img/1612889826_175-p-krasnii-fon-komiks-249.jpg");
    }

    .sait {
        width: 990px;
        height: 1361px;
        max-width: 1450px;
        margin: auto;
    }

    header {
        width: 990px;
        height: 163px;
        border-bottom: 1px solid black;
    }

    header img {
        position: absolute;
        width: 234px;
        height: 99px;
        left: 30px;
        top: 36px;
        border-radius: 5px;
        animation-name: for;
    }

    header span {
        position: absolute;
        width: 648px;
        height: 35px;
        left: 342px;
        top: 68px;
        font-size: 28px;
    }

    /* левое меню */
    /* меню*/

    ul {
        padding:0;
        margin:0;
    }

    a {
        text-decoration: none;
        color: black;
    }

    li {
        list-style-type: none; 
        font-size: 27px;
        color: white;
    }

    .menu-top-1 {
        position: absolute;
        width: 160px;
        height: 38px;
        left: 58px;
        top: 191px;
    }

    .menu-top-2 {
        position: absolute;
        width: 123px;
        height: 38px;
        left: 58px;
        top: 248px;
    }

    .menu-top-3 {
        position: absolute;
        width: 138px;
        height: 43px;
        left: 58px;
        top: 313px;
    }

    .menu-top-4 {
        position: absolute;
        width: 160px;
        height: 30px;
        left: 44px;
        top: 375px;
    }

    nav {
        height: 266px;
        width: 210.5px;
    }

    div.left {
        width: 225px;
        height: 1216px;
        border-right: 1px solid black;
    }

    .submenu {
        visibility: hidden;
        opacity: 0;
        padding: 0;
        margin: 0;
        position: absolute;
        width: 157px;
        height: 22px;
    }

    .menu-top-4:hover>.submenu {
        visibility: visible;
        z-index: 1;
        opacity: 1;
        transition: 1s;
    }
  
    .submenu li {
        display: inline-block ;
    }

    .submenu-top-1{
        padding: 0px;
        margin-right: 10px;
        width: 60px;
        height: 20px;
    }
    
    .submenu-top-2{
        padding: 0px;
        margin: 0px;
        width: 80px;
        height: 20px;
    }
    
    .submenu-top a {
        cursor: pointer;
    }

    /*реклама*/

    .advert {
        width: 225px;
        height: 685px;
    }

    .advert-1 {
        width: 225px;
        height: 299px;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .advert-2 {
        width: 225px;
        height: 386px;
    }

    .advert-1 img {
        position: absolute;
        width: 197px;
        height: 274px;
        left: 14px;
        top: 442px;
    }

    .advert-2 img {
        position: absolute;
        width: 197px;
        height: 360px;
        left: 19px;
        top: 747px;
    }
    
    p {
        font-size: 20px;
    }

    .moon-knight {
        position: absolute;
        width: 211px;
        height: 288px;
        left: 255px;
        top: 185px;        
    }
    
    .first-film {
        position: absolute;
        width: 269px;
        height: 28px;
        left: 232px;
        top: 482px;
    }
    
    .ha-eye {
        position: absolute;
        width: 440px;
        height: 255px;
        left: 519px;
        top: 196px;
    }
    
    .second-film {
        position: absolute;
        width: 263px;
        height: 26px;
        left: 607px;
        top: 460px;
    }
    
    .loki {
        position: absolute;
        width: 256px;
        height: 307px;
        left: 245px;
        top: 535px;
    }
    
    .third-film {
        position: absolute;
        width: 160px;
        height: 27px;
        left: 300px;
        top: 857px;        
    }
    
    .winter {
        position: absolute;
        width: 330px;
        height: 398px;
        left: 589px;
        top: 510px;
        animation-name: ee;
    }
    
    .fourth-film {
        position: absolute;
        width: 350px;
        height: 25px;
        left: 584px;
        top: 919px;        
    }
    
    .vanda {
        position: absolute;
        width: 478px;
        height: 286px;
        left: 230px;
        top: 966px;
    }
    
    .fifth-film {
        position: absolute;
        width: 227px;
        height: 38px;
        left: 733px;
        top: 1098px;
    }

    footer {
        position: absolute;
        width: 990px;
        height: 97px;
        left: 0px;
        top: 1380px;
        border-top: 1px solid black;
        font-size: 36px;
    }

    footer span {
        position: absolute;
        width: 266px;
        height: 38px;
        left: 357px;
        top: 10px;
        font-size: 38px;
    }

}